In [ ]:
%pip install geopandas pandas pyshp

Requirement already satisfied: geopandas in /Users/rahul/anaconda3/lib/python3.11/site-packages (0.14.0)
Requirement already satisfied: pandas in /Users/rahul/anaconda3/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: pyshp in /Users/rahul/anaconda3/lib/python3.11/site-packages (2.3.1)
Requirement already satisfied: fiona>=1.8.21 in /Users/rahul/anaconda3/lib/python3.11/site-packages (from geopandas) (1.9.5)
Requirement already satisfied: packaging in /Users/rahul/anaconda3/lib/python3.11/site-packages (from geopandas) (23.0)
Requirement already satisfied: pyproj>=3.3.0 in /Users/rahul/anaconda3/lib/python3.11/site-packages (from geopandas) (3.6.1)
Requirement already satisfied: shapely>=1.8.0 in /Users/rahul/anaconda3/lib/python3.11/site-packages (from geopandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/rahul/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/rahul/anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/rahul/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: attrs>=19.2.0 in /Users/rahul/anaconda3/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas) (22.1.0)
Requirement already satisfied: certifi in /Users/rahul/anaconda3/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas) (2023.7.22)
Requirement already satisfied: click~=8.0 in /Users/rahul/anaconda3/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas) (8.0.4)
Requirement already satisfied: click-plugins>=1.0 in /Users/rahul/anaconda3/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /Users/rahul/anaconda3/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas) (0.7.2)
Requirement already satisfied: six in /Users/rahul/anaconda3/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas) (1.16.0)
Requirement already satisfied: setuptools in /Users/rahul/anaconda3/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas) (68.0.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
import geopandas as gpd

In [ ]:
df = pd.read_csv('CO2 emission by countries.csv')
df.head()

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
0,Afghanistan,AF,93,1750,0.0,41128771.0,652230.0,0.40%,63/km�
1,Afghanistan,AF,93,1751,0.0,41128771.0,652230.0,0.40%,63/km�
2,Afghanistan,AF,93,1752,0.0,41128771.0,652230.0,0.40%,63/km�
3,Afghanistan,AF,93,1753,0.0,41128771.0,652230.0,0.40%,63/km�
4,Afghanistan,AF,93,1754,0.0,41128771.0,652230.0,0.40%,63/km�

In [ ]:
df = df.loc[:, ['Country', 'Year', 'CO2 emission (Tons)']]
df.head()

       Country  Year  CO2 emission (Tons)
0  Afghanistan  1750                  0.0
1  Afghanistan  1751                  0.0
2  Afghanistan  1752                  0.0
3  Afghanistan  1753                  0.0
4  Afghanistan  1754                  0.0

In [ ]:
total_world_emissions = df.groupby('Year')['CO2 emission (Tons)'].sum().reset_index()
total_world_emissions = total_world_emissions.rename(columns={'CO2 emission (Tons)': 'Total World Emission (Tons)'})
total_world_emissions.head()

   Year  Total World Emission (Tons)
0  1750                    9350528.0
1  1751                   18701056.0
2  1752                   28055248.0
3  1753                   37409440.0
4  1754                   46767296.0

In [ ]:
df = df.merge(total_world_emissions, on='Year')
# # Rename the 'CO2 emission (Tons)' column from df2
# df = df.rename(columns={'Total World Emission (Tons)_y': 'Total World Emission (Tons)'})
# # Drop the duplicate 'CO2 emission (Tons)' column
# df = df.drop(columns=['Total World Emission (Tons)_x'])
# Display the final DataFrame with formatting
pd.options.display.float_format = '{:.1f}'.format
df.head()

       Country  Year  CO2 emission (Tons)  Total World Emission (Tons)
0  Afghanistan  1750                  0.0                    9350528.0
1      Albania  1750                  0.0                    9350528.0
2      Algeria  1750                  0.0                    9350528.0
3      Andorra  1750                  0.0                    9350528.0
4       Angola  1750                  0.0                    9350528.0

In [ ]:
output_folder = '../D3js-Visualization/data/'
output_file = output_folder + 'emissions_processed.csv'

df.to_csv(output_file, index=False)

In [ ]:
# Download the Natural Earth dataset for countries with geometries
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

# Save the entire world as a GeoJSON file
output_folder = '../D3js-Visualization/data/'  # Replace with your desired folder path
output_file = output_folder + 'world_data.geojson'

world.to_file(output_file, driver='GeoJSON')

/var/folders/wp/wvs3l1cx7qj62cdcp32j1kpc0000gn/T/ipykernel_35714/2220538564.py:2: FutureWarning: The geopandas.dataset module is deprecated and will be removed in GeoPandas 1.0. You can get the original 'naturalearth_lowres' data from https://www.naturalearthdata.com/downloads/110m-cultural-vectors/.
  world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

In [1]:
!pip install geojson

Collecting geojson
  Downloading geojson-3.0.1-py3-none-any.whl (15 kB)
Installing collected packages: geojson
Successfully installed geojson-3.0.1

In [2]:
import numpy as np
import pandas as pd
import geojson

In [3]:
path_processed = "/content/drive/MyDrive/DV_Project-1/emissions_processed.csv"
path_geojson = "/content/drive/MyDrive/DV_Project-1/world_data.geojson"

In [4]:
df1 = pd.read_csv(path_processed)

FileNotFoundError: ignored

In [5]:
df1

NameError: ignored

In [6]:
import json
with open(path_geojson, 'r') as geojson_file:
    geojson_data = json.load(geojson_file)


# Print the loaded GeoJSON data
print(json.dumps(geojson_data))  # This will print the data with indentation for better readability

FileNotFoundError: ignored

In [7]:
# Create the dictionary
emission_dict = {}

for index, row in df1.iterrows():
    country = row['Country']
    year = int(row['Year'])
    # print(country,year)
    emission = row['CO2 emission (Tons)']
    if country not in emission_dict:
        emission_dict[country] = []
    emission_dict[country].append([year, emission])

# Print the resulting dictionary
# print(emission_dict,indent=2)
print(json.dumps(emission_dict))

NameError: ignored

In [8]:
import json

# Assuming geojson_data is the loaded GeoJSON data (as a Python dictionary) and emission_dict is the dictionary you created

# Iterate through the features in the GeoJSON data
for feature in geojson_data['features']:
    country_name = feature['properties']['name']

    if country_name in emission_dict:
        feature['properties']['emission_data'] = emission_dict[country_name]

# Save the updated GeoJSON data to a new file
with open('updated_geojson_file.geojson', 'w') as outfile:
    json.dump(geojson_data, outfile)

NameError: ignored

In [9]:
new_geojson = "/content/updated_geojson_file.geojson"

In [ ]:
import json
with open(new_geojson, 'r') as geojson_file:
    geojson_data = json.load(geojson_file)


# Print the loaded GeoJSON data
print(json.dumps(geojson_data))  # This will print the data with indentation for better readability